# Power BI
*.pbit

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

# Local database/config files
.env